In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import SGDRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns',50)
pd.set_option('display.max_rows',1000)

In [2]:
df = pd.read_stata("student_crime_dat.dta")

In [3]:
df['murd_1'] = df.groupby('city')['murd'].shift()
df['rape_1'] = df.groupby('city')['rape'].shift()
df['rob_1'] = df.groupby('city')['rob'].shift()
df['assl_1'] = df.groupby('city')['assl'].shift()
df['burg_1'] = df.groupby('city')['burg'].shift()
df['larc_1'] = df.groupby('city')['larc'].shift()
df['veht_1'] = df.groupby('city')['veht'].shift()
df['pop_1'] = df.groupby('city')['pop'].shift()
df['Tmean_1'] = df.groupby('city')['Tmean'].shift()
df['Prcp_1'] = df.groupby('city')['Prcp'].shift()
df['murd_12'] = df.groupby('city')['murd'].shift(12)
df['rape_12'] = df.groupby('city')['rape'].shift(12)
df['rob_12'] = df.groupby('city')['rob'].shift(12)
df['assl_12'] = df.groupby('city')['assl'].shift(12)
df['burg_12'] = df.groupby('city')['burg'].shift(12)
df['larc_12'] = df.groupby('city')['larc'].shift(12)
df['veht_12'] = df.groupby('city')['veht'].shift(12)
df['pop_12'] = df.groupby('city')['pop'].shift(12)
df['Tmean_12'] = df.groupby('city')['Tmean'].shift(12)
df['Prcp_12'] = df.groupby('city')['Prcp'].shift(12)

In [4]:
df = df[df['year']> 76]

In [5]:
df.groupby('city')['murd'].count()

city
Baltimore, MD        257
Chicago, IL          233
Dallas, TX           257
Detroit, MI          257
Houston, TX          252
Indianapolis, IN     255
Jacksonville, FL     216
Los Angeles, CA      257
New York, NY         257
Philadelphia, PA     257
Phoenix, AZ          257
San Antonio, TX      257
San Diego, CA        257
San Francisco, CA    257
San Jose, CA         250
Name: murd, dtype: int64

In [6]:
df.isnull().sum()

month         0
murd         86
rape        247
rob          86
assl         86
burg         86
larc         86
veht         98
pop          14
year          0
city          0
Tmean        15
Prcp         14
Snow         25
Snwd         17
murd_1       72
rape_1      233
rob_1        72
assl_1       72
burg_1       72
larc_1       72
veht_1       84
pop_1         0
Tmean_1       1
Prcp_1        0
murd_12      61
rape_12     211
rob_12       61
assl_12      61
burg_12      61
larc_12      61
veht_12      73
pop_12        0
Tmean_12      1
Prcp_12       0
dtype: int64

In [7]:
fill_median = ['murd_1','rape_1','rape_1','rob_1','assl_1','burg_1','larc_1','veht_1','Tmean_1','Prcp_1',
               'murd_12','rape_12','rape_12','rob_12','assl_12','burg_12','larc_12','veht_12','Tmean_12','Prcp_12']
for col in fill_median:
    df[col] = df.groupby(['city','month'])[col].transform(lambda x: x.fillna(x.median()))

In [8]:
df.isnull().sum()

month         0
murd         86
rape        247
rob          86
assl         86
burg         86
larc         86
veht         98
pop          14
year          0
city          0
Tmean        15
Prcp         14
Snow         25
Snwd         17
murd_1        0
rape_1        0
rob_1         0
assl_1        0
burg_1        0
larc_1        0
veht_1        0
pop_1         0
Tmean_1       0
Prcp_1        0
murd_12       0
rape_12       0
rob_12        0
assl_12       0
burg_12       0
larc_12       0
veht_12       0
pop_12        0
Tmean_12      0
Prcp_12       0
dtype: int64

In [9]:
df = pd.get_dummies(df, columns=['month', 'year', 'city'])

In [10]:
test_df = df[df['year_98'] == 1]
test_df = test_df[test_df['month_6'] == 1]

test_df.head(20)

,murd,rape,rob,assl,burg,larc,veht,pop,Tmean,Prcp,Snow,Snwd,murd_1,rape_1,rob_1,assl_1,burg_1,larc_1,veht_1,pop_1,Tmean_1,Prcp_1,murd_12,rape_12,rob_12,...,year_89,year_90,year_91,year_92,year_93,year_94,year_95,year_96,year_97,year_98,"city_Baltimore, MD","city_Chicago, IL","city_Dallas, TX","city_Detroit, MI","city_Houston, TX","city_Indianapolis, IN","city_Jacksonville, FL","city_Los Angeles, CA","city_New York, NY","city_Philadelphia, PA","city_Phoenix, AZ","city_San Antonio, TX","city_San Diego, CA","city_San Francisco, CA","city_San Jose, CA"
269,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.566995,5.133990,86.220825,418.118164,166.401657,400.300201,95.733803,662253.0,66.806450,0.111613,4.030089,7.643273,104.365417,...,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
539,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.580958,3.304386,67.686523,111.671852,105.746559,368.640717,91.242302,2750917.0,65.032257,0.097419,2.422400,3.533334,71.876587,...,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
809,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.575475,6.070763,41.575527,354.771698,138.707733,389.172699,131.349243,1087178.0,77.857140,0.076774,1.020570,6.216199,45.368977,...,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1079,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.600086,4.700113,58.101395,189.704559,138.003311,354.208496,239.305740,999976.0,65.838707,0.079355,3.720340,8.811332,66.868217,...,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1349,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.558016,3.282963,35.890018,248.169754,93.759201,287.454010,83.353874,1797157.0,78.111115,0.001290,1.554373,4.663117,38.581745,...,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1619,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.842859,7.108172,33.698002,184.549210,114.125648,229.435989,63.183750,759689.0,67.322578,0.197742,4.232647,10.052538,63.225170,...,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
1889,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.500744,7.684776,31.931232,115.182411,173.532578,362.271088,34.153431,703251.0,76.870964,0.030968,1.201880,8.165932,31.951797,...,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
2159,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.690287,3.479048,35.011375,147.528214,63.837776,183.064209,65.549690,3621680.0,61.258064,0.079355,0.960097,3.275625,47.920132,...,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
2429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.706738,2.473584,42.200428,53.943157,49.213448,161.584839,48.601849,7357745.0,61.838711,0.180323,1.051844,2.732062,49.409348,...,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
2699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.586843,4.622542,57.747276,165.238617,82.584816,243.545868,110.113083,1449419.0,66.233330,0.124839,1.967976,4.919940,54.119335,...,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
2969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.897452,2.855530,23.007412,184.711990,113.078979,397.734497,112.752632,1225692.0,76.580643,0.001290,0.938136,3.752544,23.538683,...,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.817594,4.905563,11.173783,137.355774,84.484703,367.190491,43.877541,1100791.0,80.064514,0.010968,0.577987,6.454186,17.821260,...,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
3509,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.248812,2.073436,14.596991,118.683487,47.274345,201.123306,80.946945,1205728.0,62.967743,0.020645,0.253667,2.452114,14.797239,...,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3779,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.809321,2.562850,43.028912,120.858635,83.629860,277.866943,80.257690,741362.0,57.967743,0.076452,0.662920,1.988760,47.332478,...,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0

In [11]:
train_df = df
train_df = train_df.dropna()

In [12]:
train_df.head()

,murd,rape,rob,assl,burg,larc,veht,pop,Tmean,Prcp,Snow,Snwd,murd_1,rape_1,rob_1,assl_1,burg_1,larc_1,veht_1,pop_1,Tmean_1,Prcp_1,murd_12,rape_12,rob_12,...,year_89,year_90,year_91,year_92,year_93,year_94,year_95,year_96,year_97,year_98,"city_Baltimore, MD","city_Chicago, IL","city_Dallas, TX","city_Detroit, MI","city_Houston, TX","city_Indianapolis, IN","city_Jacksonville, FL","city_Los Angeles, CA","city_New York, NY","city_Philadelphia, PA","city_Phoenix, AZ","city_San Antonio, TX","city_San Diego, CA","city_San Francisco, CA","city_San Jose, CA"
12,1.208468,2.537783,69.003525,192.992340,120.846794,240.847672,54.743599,827494.0,23.193548,0.043871,0.274194,0.83871,1.858360,3.716721,89.665894,208.600952,152.733994,291.762573,57.609173,860974.0,32.709679,0.065806,2.439098,3.949016,91.291954,...,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13,1.812702,4.592178,72.024689,202.660080,130.877075,264.654480,59.335777,827494.0,36.785713,0.022500,0.000000,0.00000,1.208468,2.537783,69.003525,192.992340,120.846794,240.847672,54.743599,827494.0,23.193548,0.043871,2.322951,2.322951,71.546875,...,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
14,1.691855,4.592178,73.474854,257.887054,153.112900,304.533936,56.918842,827494.0,50.193550,0.126774,0.000000,0.00000,1.812702,4.592178,72.024689,202.660080,130.877075,264.654480,59.335777,827494.0,36.785713,0.022500,2.090656,4.645901,71.779175,...,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
15,1.208468,5.317259,77.221107,255.470123,142.961761,314.443359,64.653038,827494.0,58.066666,0.101667,0.000000,0.00000,1.691855,4.592178,73.474854,257.887054,153.112900,304.533936,56.918842,827494.0,50.193550,0.126774,1.626065,3.832868,63.997288,...,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
16,1.933549,4.229638,74.683319,299.337524,161.934708,329.307526,77.341949,827494.0,67.000000,0.048065,0.000000,0.00000,1.208468,5.317259,77.221107,255.470123,142.961761,314.443359,64.653038,827494.0,58.066666,0.101667,1.393770,4.645901,57.957615,...,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [13]:
train_df.shape

(3609, 81)

In [14]:
test_df.shape

(14, 81)

In [15]:
test_df.head()

,murd,rape,rob,assl,burg,larc,veht,pop,Tmean,Prcp,Snow,Snwd,murd_1,rape_1,rob_1,assl_1,burg_1,larc_1,veht_1,pop_1,Tmean_1,Prcp_1,murd_12,rape_12,rob_12,...,year_89,year_90,year_91,year_92,year_93,year_94,year_95,year_96,year_97,year_98,"city_Baltimore, MD","city_Chicago, IL","city_Dallas, TX","city_Detroit, MI","city_Houston, TX","city_Indianapolis, IN","city_Jacksonville, FL","city_Los Angeles, CA","city_New York, NY","city_Philadelphia, PA","city_Phoenix, AZ","city_San Antonio, TX","city_San Diego, CA","city_San Francisco, CA","city_San Jose, CA"
269,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.566995,5.133990,86.220825,418.118164,166.401657,400.300201,95.733803,662253.0,66.806450,0.111613,4.030089,7.643273,104.365417,...,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
539,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.580958,3.304386,67.686523,111.671852,105.746559,368.640717,91.242302,2750917.0,65.032257,0.097419,2.422400,3.533334,71.876587,...,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
809,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.575475,6.070763,41.575527,354.771698,138.707733,389.172699,131.349243,1087178.0,77.857140,0.076774,1.020570,6.216199,45.368977,...,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1079,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.600086,4.700113,58.101395,189.704559,138.003311,354.208496,239.305740,999976.0,65.838707,0.079355,3.720340,8.811332,66.868217,...,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1349,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.558016,3.282963,35.890018,248.169754,93.759201,287.454010,83.353874,1797157.0,78.111115,0.001290,1.554373,4.663117,38.581745,...,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [16]:
target_df = train_df[['murd','rape','rob','assl','burg','larc','veht']].copy()

In [17]:
train_df = train_df.drop(['murd','rape','rob','assl','burg','larc','veht','pop',
                         'Tmean','Prcp','Snow','Snwd'], axis=1)
test_df = test_df.drop(['murd','rape','rob','assl','burg','larc','veht','pop',
                         'Tmean','Prcp','Snow','Snwd'], axis=1)
scaler = StandardScaler()
scaler.fit(train_df)
scaled_train = scaler.transform(train_df)
scaler.fit(test_df)
scaled_test = scaler.transform(test_df)

In [18]:
targets = ['murd','rape','rob','assl','burg','larc','veht']
test_pred = []
for col in targets:
    X_train, x_test, y_train, y_test = train_test_split(scaled_train, target_df[col], test_size=0.30, random_state=42)
    linear_regression_model = SGDRegressor(tol=.0001, eta0=.01)
    linear_regression_model.fit(X_train, y_train)
    predictions = linear_regression_model.predict(X_train)
    mse = mean_squared_error(y_train, predictions)
    print(col, "  RMSE: {}".format(np.sqrt(mse)))
    y_pred = linear_regression_model.predict(scaled_test)
    test_df[col] = y_pred

murd   RMSE: 0.525681515038623
rape   RMSE: 1.28191706152012
rob   RMSE: 6.684524980516758
assl   RMSE: 15.258581035071336
burg   RMSE: 15.776954297831317
larc   RMSE: 29.165441365482067
veht   RMSE: 11.734758489017421

In [19]:
test_df.head(18)

,murd_1,rape_1,rob_1,assl_1,burg_1,larc_1,veht_1,pop_1,Tmean_1,Prcp_1,murd_12,rape_12,rob_12,assl_12,burg_12,larc_12,veht_12,pop_12,Tmean_12,Prcp_12,month_1,month_2,month_3,month_4,month_5,...,year_96,year_97,year_98,"city_Baltimore, MD","city_Chicago, IL","city_Dallas, TX","city_Detroit, MI","city_Houston, TX","city_Indianapolis, IN","city_Jacksonville, FL","city_Los Angeles, CA","city_New York, NY","city_Philadelphia, PA","city_Phoenix, AZ","city_San Antonio, TX","city_San Diego, CA","city_San Francisco, CA","city_San Jose, CA",murd,rape,rob,assl,burg,larc,veht
269,2.566995,5.133990,86.220825,418.118164,166.401657,400.300201,95.733803,662253.0,66.806450,0.111613,4.030089,7.643273,104.365417,385.915802,132.576050,486.251129,96.861115,719587.0,70.266670,0.124667,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3.406989,7.599887,127.882318,313.401742,251.008732,475.700596,106.544264
539,2.580958,3.304386,67.686523,111.671852,105.746559,368.640717,91.242302,2750917.0,65.032257,0.097419,2.422400,3.533334,71.876587,127.302544,115.949806,365.746246,105.175545,2765852.0,68.500000,0.131379,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2.674988,4.688415,89.170761,79.117671,165.533783,408.811432,105.982352
809,2.575475,6.070763,41.575527,354.771698,138.707733,389.172699,131.349243,1087178.0,77.857140,0.076774,1.020570,6.216199,45.368977,326.211304,137.591400,400.341797,131.931870,1077829.0,79.099998,0.133000,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,2.424502,7.876409,54.187752,259.546345,223.544299,450.473895,144.307265
1079,3.600086,4.700113,58.101395,189.704559,138.003311,354.208496,239.305740,999976.0,65.838707,0.079355,3.720340,8.811332,66.868217,210.884537,168.296432,359.502350,260.521698,1021412.0,69.666664,0.105667,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,3.701035,8.424466,84.578672,138.036282,235.580249,401.052593,266.716478
1349,1.558016,3.282963,35.890018,248.169754,93.759201,287.454010,83.353874,1797157.0,78.111115,0.001290,1.554373,4.663117,38.581745,251.031158,113.358170,314.926971,96.038017,1801370.0,79.400002,0.148667,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1.759432,5.078899,43.995752,180.788580,156.324675,321.827503,98.603589
1619,1.842859,7.108172,33.698002,184.549210,114.125648,229.435989,63.183750,759689.0,67.322578,0.197742,4.232647,10.052538,63.225170,315.067688,162.427841,352.367889,122.482239,378014.0,70.206894,0.105667,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,2.175629,10.196309,48.910853,153.973559,194.002983,280.228337,85.028069
1889,1.500744,7.684776,31.931232,115.182411,173.532578,362.271088,34.153431,703251.0,76.870964,0.030968,1.201880,8.165932,31.951797,103.705055,169.866669,359.380127,34.021473,702545.0,77.166664,0.211000,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1.697937,9.619952,38.903281,69.200605,279.184232,423.225990,44.651882
2159,0.690287,3.479048,35.011375,147.528214,63.837776,183.064209,65.549690,3621680.0,61.258064,0.079355,0.960097,3.275625,47.920132,157.371185,67.517410,191.341675,79.772758,3541309.0,69.033333,0.000000,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1.273874,4.051518,45.561411,109.311065,95.897943,190.633200,74.456252
2429,0.706738,2.473584,42.200428,53.943157,49.213448,161.584839,48.601849,7357745.0,61.838711,0.180323,1.051844,2.732062,49.409348,56.608334,56.608334,182.078293,53.835289,7320477.0,69.366669,0.059667,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1.077741,3.000875,55.877816,30.908393,77.626601,177.807033,55.358664
2699,1.586843,4.622542,57.747276,165.238617,82.584816,243.545868,110.113083,1449419.0,66.233330,0.124839,1.967976,4.919940,54.119335,85.082153,69.338348,199.487152,108.501068,1524409.0,71.266670,0.049667,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,2.217325,5.271339,74.021360,99.757348,123.364791,250.632283,119.510683
2969,0.897452,2.855530,23.007412,184.711990,113.078979,397.734497,112.752632,1225692.0,76.580643,0.001290,0.938136,3.752544,23.538683,175.516693,140.123398,417.555756,127.501198,1172538.0,87.966667,0.000000,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1.074280,4.035232,24.634583,132.060616,190.340354,462.549564,127.357936
3239,0.817594,4.905563,11.173783,137.355774,84.484703,367.190491,43.877541,1100791.0,80.064514,0.010968,0.577987,6.454186,17.821260,118.583626,110.973465,498.802612,81.688797,1038086.0,79.966667,0.243333,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1.093662,5.634540,7.570091,86.108416,145.926291,455.294083,52.435582
3509,0.248812,2.073436,14.596991,118.683487,47.274345,201.123306,80.946945,1205728.0,62.967743,0.020645,0.253667,2.452114,14.797239,124.635040,58.935291,211.727356,79.397758,1182653.0,67.733330,0.000000,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0.457371,2.514394,9.742579,83.199264,73.853329,218.438037,87.035839
3779,0.809321,2.562850,43.028912,120.858635,83.629860,277.866943,80.257690,741362.0,57.967743,0.076452,0.662920,1.988760,47.332478,110.177277,74.909943,324.830719,83.793068,754239.0,62.566666,0.008000,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0.860093,3.659927,55.678147,82.713912,123.614516,319.568405,86.256042

In [20]:
cities = test_df[['city_Baltimore, MD','city_Chicago, IL','city_Dallas, TX',
                     'city_Detroit, MI','city_Houston, TX','city_Indianapolis, IN',
                    'city_Jacksonville, FL','city_Los Angeles, CA','city_New York, NY',
                    'city_Philadelphia, PA','city_Phoenix, AZ','city_San Antonio, TX',
                    'city_San Diego, CA','city_San Francisco, CA']].copy()
cities = cities.idxmax(axis=1)
final_pred = test_df[['murd','rape','rob','assl','burg','larc','veht']].copy()
final_pred['City']=cities

In [21]:
final_pred.head()

,murd,rape,rob,assl,burg,larc,veht,City
269,3.406989,7.599887,127.882318,313.401742,251.008732,475.700596,106.544264,"city_Baltimore, MD"
539,2.674988,4.688415,89.170761,79.117671,165.533783,408.811432,105.982352,"city_Chicago, IL"
809,2.424502,7.876409,54.187752,259.546345,223.544299,450.473895,144.307265,"city_Dallas, TX"
1079,3.701035,8.424466,84.578672,138.036282,235.580249,401.052593,266.716478,"city_Detroit, MI"
1349,1.759432,5.078899,43.995752,180.788580,156.324675,321.827503,98.603589,"city_Houston, TX"

In [22]:
final_pred.to_csv("crime_predictions.csv",index=False)